

.maincontent{
    margin: 7px;
    background-color: #4d5359;

    .flex-item + .flex-item {
        margin-left: 7px;
    }
}

.toprow{
    height: 400px;

    .flex-item:nth-of-type(1){flex-grow: 1;}
    .flex-item:nth-of-type(2){flex-grow: 1;}
    .flex-item:nth-of-type(3){flex-grow: 1;}
}

.middlerow{
    height: 100px;

    .midPad{
        padding: 15px 20px;
    }
    

    .flex-item:nth-of-type(1){flex-grow: 1;}
    .flex-item:nth-of-type(2){flex-grow: 1;}
    .flex-item:nth-of-type(3){flex-grow: 1;}
}

.bottomrow{
    height: 400px;

    .flex-item:nth-of-type(1){flex-grow: 2;}
    .flex-item:nth-of-type(2){flex-grow: 1;}
}

.toprow + .middlerow{
    margin-top: 7px;
}

.middlerow + .bottomrow{
    margin-top: 7px;
}


.emails{
    border-radius: 3px;
    background-color: darkturquoise;

    p{
        margin: 12px 0;
    }

    .mailitem:last-child{
        border-radius: 0 0 3px 3px;
    }
}

.mailitem{
    background-color: dimgrey;
    height: 58px;

    .mailcontent{
        width: 100%;
    }
    .mailimage{
        min-width: $mailcircle;
        min-height: $mailcircle;
        background-color: black;
        border-radius: 50%;
        margin: 0 10px 0 5px;
    }

    .mailheader{
        justify-content: space-between;

        .mailtitle{
            font-family: $textfontfamily;
            font-size: $mailtitle;
            font-weight: $textregular;
        }
        .maildate{
            font-size: $mailtitle;
            padding-right: 10px;
        }
    }
    .mailsubject{
        font-family: $textfontfamily;
        font-size: $mailsubject;
        font-weight: $textlight;
    }
    .mailtext{
        font-family: $textfontfamily;
        font-size: $mailtext;
        max-height: 15px;
        word-break: break-all;
    }
}

.mailitem + .mailitem {
    border-top: 1px solid white;
}

.tickets{
    border-radius: 3px;
    background-color: darkblue;
}
.tickets-header{
    justify-content: space-between;

    button{
        border: 0;
    }
}

.tickets-body{
    width: 100%;
}

.ticket{
    background-color: lightgrey;
    width: 100%;
    padding: 5px;
    font-size: 0.5rem;

    .ticket-open{
        width: 20px;
        height: 20px;
        background-color: red;
    }
}

.events{
    border-radius: 3px;
    background-color: #29116b;

    li + li{
        border-top: 1px solid black;
    }
}

.eventsheader{
    justify-content: space-between;

    button{
        width: 24px;
        height: 24px;
        background-color: #70798C;
        padding: 3px;
        border: 1px solid rgba($color: #70798C, $alpha: 0.5);
        border-radius: 3px;
        margin-right: 20px;
    }

}

.list{
    justify-content: space-between;
    color: $textcolor;
    font-weight: $textlight;

    .eventdate{
        font-size: $mailsubject;
        margin-left: 10px;
    }

    .flexcolumn{

        margin-left: 10px;
    }

    .eventstitle{
        margin: 12px 0;
        font-size: $mailsubject;
    }

    .eventtext{
        font-size: $mailtext;
        font-weight: $textregular;
    }
    .eventutils{
        margin-right: 10px;

        i{
            margin: 0 10px;
        }
    }
}




///////////////////////////////////////MIDDLEROW//////////////////////////////////////////////
.saleobjectives{
    background-color: #4062BB;
    border-radius: 3px;
    p{
        margin-bottom: 10px;
        margin-top: 0;
        padding-left: 0px;
        color: $textcolor;
    }
}

.progressbar{
    border-radius: 2px;
    background-color: #70798C;
    width: 100%;
    .bar{
        justify-content: space-around;
        height: 1.5rem;
        width: 45%;
        background-color: dodgerblue;
        color: white;
        border-radius: 2px 0 0 2px;
    }
}

.weather{
    color: $textcolor;
    background-color: #4062BB;
    border-radius: 3px;
}

.social{
    background-color: #4062BB;
    border-radius: 3px;
    color: $textcolor;

    i{
        color: $iconcolor;
        font-size: 2rem;
    }
}

/////////////////////////////////////////BOTTOMROW///////////////////////////////////////////////
thead{
    border-radius: 3px 3px 0 0;
}

.table-orders{
    width: 100%;
    border-spacing: 0;
    color: $textcolor;
    border: 2px solid #1c1d3a;
    border-radius: 3px;

    td{
        text-align: center;
    }

    .table-header{
        height: 35px;
        color: $textcolor;
        background-color: $mainbackgroundcolor;
        
        th{font-weight: $textregular ;}
    }

    tbody { 
        font-size: 0.85rem;
        
        tr{
            height: 36.5px;
            color: #1c1d3a;
        }
        tr {
            &:nth-child(even) {
                background-color: rgba($color: #d1d1d1, $alpha: 1);
            }
        }
        tr {
            &:nth-child(odd) {
                background-color: rgba($color: #f2f2f2, $alpha: 1) ;
            }
        }
    }
}

.chart{
    width: calc(100%/3);
    height: 400px;

    
}

