$mainbackgroundcolor: red;

$iconfontsize: 1rem ;
$iconcolor: white;

$textfontsize: 1rem;
$textfontfamily: 'Open Sans', sans-serif;
$textlight: 300;
$textregular: 400;
$textcolor: white;

$sidebarhover: darkred;

$mailtitle:0.95rem;
$mailsubject:0.8rem;
$mailtext: 0.65rem;

$mailcircle: 30px;


/////// BORDERS //////

.b-0{
    border: 0;
}


/////// FLEX ///////
.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.just-center{
    justify-content: center;
}

.m-0{
    margin: 0;
}

.m-5{
    margin: 5px;
}

.p-5{
    padding: 5px;
}

.pl-15{
    padding-left: 15px;
}

.dotdotdot{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}