@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");
.b-0 {
  border: 0;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.just-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-0 {
  margin: 0;
}

.m-5 {
  margin: 5px;
}

.p-5 {
  padding: 5px;
}

.pl-15 {
  padding-left: 15px;
}

.list {
  list-style-type: none;
}

.flexcolumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dotdotdot {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar {
  list-style: none;
  position: fixed;
  height: 100%;
  background-color: #1c1d3a;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sidebar.open {
  width: 200px;
}

.sidebar.open .collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar .header {
  color: white;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 7px;
  height: 60px;
}

.sidebar .header .logo {
  padding: 0 25px;
  font-size: 1.25rem;
}

.sidebar .collapse {
  display: none;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.sidebar a + a + a {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.icon {
  padding: 0 15px;
  border: 0;
  background-color: transparent;
  font-size: 1rem;
}

.icon .fas {
  color: white;
}

.sidebaritem {
  padding: 10px 5px;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.sidebaritem:hover {
  background-color: #4d5359;
}

.b-0 {
  border: 0;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.just-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-0 {
  margin: 0;
}

.m-5 {
  margin: 5px;
}

.p-5 {
  padding: 5px;
}

.pl-15 {
  padding-left: 15px;
}

.list {
  list-style-type: none;
}

.flexcolumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dotdotdot {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contentbox {
  margin-left: 200px;
}

.contentbox.open {
  margin-left: 58px;
}

.contentbox .fas {
  color: white;
}

.topbar {
  width: 100%;
  height: 50px;
  background-color: #1c1d3a;
}

.topbar .user {
  float: right;
  margin-right: 40px;
  padding: 5px 0;
}

.topbar .user .username {
  padding: 0 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: white;
}

.topbar .user .userprofilepic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
}

.topbar .alerts {
  padding-right: 10px;
  height: 100%;
  font-size: 1rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.topbar .alerts .messages, .topbar .alerts .notifications {
  margin: 0 10px;
}

.b-0 {
  border: 0;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.just-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-0 {
  margin: 0;
}

.m-5 {
  margin: 5px;
}

.p-5 {
  padding: 5px;
}

.pl-15 {
  padding-left: 15px;
}

.list {
  list-style-type: none;
}

.flexcolumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dotdotdot {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.maincontent {
  margin: 7px;
  background-color: #4d5359;
}

.maincontent .flex-item + .flex-item {
  margin-left: 7px;
}

.toprow {
  height: 400px;
}

.toprow .flex-item:nth-of-type(1) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.toprow .flex-item:nth-of-type(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.toprow .flex-item:nth-of-type(3) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.middlerow {
  height: 100px;
}

.middlerow .flex-item:nth-of-type(1) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.middlerow .flex-item:nth-of-type(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.middlerow .flex-item:nth-of-type(3) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.bottomrow {
  height: 400px;
}

.bottomrow .flex-item:nth-of-type(1) {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.bottomrow .flex-item:nth-of-type(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.toprow + .middlerow {
  margin-top: 7px;
}

.middlerow + .bottomrow {
  margin-top: 7px;
}

.emails {
  border-radius: 3px;
  background-color: darkturquoise;
}

.emails p {
  margin: 12px 0;
}

.mailitem {
  background-color: dimgrey;
  height: 58px;
}

.mailitem .mailcontent {
  width: 100%;
}

.mailitem .mailimage {
  min-width: 30px;
  min-height: 30px;
  background-color: black;
  border-radius: 50%;
  margin: 0 10px 0 5px;
}

.mailitem .mailheader {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mailitem .mailheader .mailtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
}

.mailitem .mailheader .maildate {
  font-size: 0.95rem;
  padding-right: 10px;
}

.mailitem .mailsubject {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}

.mailitem .mailtext {
  font-family: "Open Sans", sans-serif;
  font-size: 0.65rem;
  max-height: 15px;
  word-break: break-all;
}

.mailitem + .mailitem {
  border-top: 1px solid white;
}

.events {
  border-radius: 3px;
  background-color: #29116b;
}

.events li + li {
  border-top: 1px solid black;
}

.eventsheader {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.eventsheader button {
  width: 24px;
  height: 24px;
  background-color: #70798C;
  padding: 3px;
  border: 1px solid rgba(112, 121, 140, 0.5);
  border-radius: 3px;
  margin-right: 20px;
}

.list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-weight: 300;
}

.list .eventdate {
  font-size: 0.8rem;
  margin-left: 10px;
}

.list .flexcolumn {
  margin-left: 10px;
}

.list .eventstitle {
  margin: 12px 0;
  font-size: 0.8rem;
}

.list .eventtext {
  font-size: 0.65rem;
  font-weight: 400;
}

.list .eventutils {
  margin-right: 10px;
}

.list .eventutils i {
  margin: 0 10px;
}

.saleobjectives {
  background-color: #4062BB;
  border-radius: 3px;
}

.saleobjectives p {
  margin: 10px 0;
  padding-left: 20px;
  color: white;
}

.progressbar {
  border-radius: 2px;
  background-color: #70798C;
  width: 100%;
}

.progressbar .bar {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 1.5rem;
  width: 45%;
  background-color: dodgerblue;
  color: white;
  border-radius: 2px 0 0 2px;
}

.weather {
  color: white;
  background-color: #4062BB;
  border-radius: 3px;
}

.social {
  background-color: #4062BB;
  border-radius: 3px;
  color: white;
}

.social i {
  color: white;
  font-size: 2rem;
}

thead {
  border-radius: 3px 3px 0 0;
}

.table-orders {
  width: 100%;
  border-spacing: 0;
  color: white;
}

.table-orders .table-header {
  height: 35px;
  color: white;
  background-color: #1c1d3a;
}

.table-orders .table-header th {
  font-weight: 400;
}

.table-orders tbody {
  font-size: 0.85rem;
}

.table-orders tbody tr {
  height: 36.5px;
}

.table-orders tbody tr:nth-child(even) {
  background-color: #4062bb;
}

.table-orders tbody tr:nth-child(odd) {
  background-color: #508484;
}

.b-0 {
  border: 0;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.just-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-0 {
  margin: 0;
}

.m-5 {
  margin: 5px;
}

.p-5 {
  padding: 5px;
}

.pl-15 {
  padding-left: 15px;
}

.list {
  list-style-type: none;
}

.flexcolumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dotdotdot {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

body {
  background-color: #4d5359;
  margin: 0;
  font-family: 'Open Sans';
}
/*# sourceMappingURL=main.css.map */